.hansen_avatar {
  width:90px;
  height:90px;
  border-radius: 50%;
  
}

.jumbotron h1 {
	font-size: 73px;
}

#title_main {
	width:50%;
	margin: 0 auto;
	height:130px;
}

#title_left {
	width:30%;
	float:left;
	text-align: right;
	padding-right:20px;
}

#title_right {
	width:70%;
	float:right;
	text-align: left;
	padding-left:20px;
}

.hansen_one {
	position:relative; 
	z-index:5; 
	top:40%;
	width:60%;
	text-align:left;
	padding-left:10%;
}

.hansen_one h2 {
	font-size:40px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:10px;
	color:#e19b79;
	display:inline-table;
	z-index:10;
}

.hansen_one h3 {
	font-size:50px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:10px;
	color:#fff;
	display:inline-table;
	z-index:10;
}

.hansen_two {
	position:relative; 
	z-index:5; 
	top:40%;
	width:60%;
	text-align:right;
	padding-right:10%;
	float:right;
}

.hansen_two h2 {
	font-size:40px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:10px;
	color:#e19b79;
	display:inline-table;
	z-index:10;
}

.hansen_two h3 {
	font-size:50px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:10px;
	color:#fff;
	display:inline-table;
	z-index:10;
}

.hansen_two p {
	background-color: #e19b79;
	font-size:20px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#fff;
	display:inline-table;
	z-index:10;
}